html{
margin-top: 0;
background-color: #A7DBD8;
}

.App {
  text-align: center;
  height: 100%;
  margin-top: 0;
  padding: 0;
}

.App-logo {
  height: 155px;
  padding:0;
  margin: 0;
  pointer-events: none;
  float: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* min-height: 100; */
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin);
  color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

* { box-sizing: border-box; }

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
  font-size: 100px;
  
  padding: 0;
  margin: 0;
  font-weight: 600;
  line-height: .8;
  text-align: left;
  text-transform: uppercase;
}

h1.orange{
  color: #a5581d;
}

h1.grey{
  color: rgb(66, 66, 66);
}

button, input, select[multiple], textarea {
  background-image: none;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, input {
  line-height: normal;
}

button, input, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  border-color: none;
}

ul {
  padding: 0%;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

li.listRow {
  background-color: #428bca;
  margin: 0px;
  list-style-type: none;


}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

.checkmarkChecked {
  padding-top: 9px;
  padding-left: 9px;
  height: 40px;
  float: left;
}

.checkmarkUnchecked {
  fill: white;
}

li.listItemContainer {
  height: 50px;

}
li.listItemDone {
  color: white;
  background-color: rgb(66, 66, 66);
  height: 50px;
  padding-top: 15px;
  margin-left: 46px;
  text-decoration: line-through;
}

li.listRowAbove {
  padding-top: 15px;
  height: 50px;
  padding-left: 46px;
  
}

li.listRowAbove:focus {
  padding: 70px;
  background-color: cadetblue;
}

li.listRow{
  background-color: #69D2E7;
}

li.listRow:hover {
  filter: brightness(85%);
}

li.listRow:nth-child(odd) {
  background-color: #E0E4CC;

}

.completedContainer{
  background-color: black;
}

a {
  color: #428bca;
  text-decoration: none;
}

main {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1;
  color: inherit;
  background-color: #eee;
}

main h1 {
  font-size: 63px;
  line-height: 1;
  color: inherit;
}

.container {
  max-width: 750px;
  padding: 0 15px;
  margin: auto;
}

.logo-container {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.page-header {
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: 15px;
  background-color: #69D2E7;
  border-bottom: 1px solid #eee;

}

input {
  height: 45px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3;
  border-radius: 6px;
  border-style: none;
  background-color: yellow;
  width: 40%;
}

.form-control {
  display: block;
  width: 100%;
  height: 35px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.alert {
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid #eed3d7;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.text-muted {
  color: #999;
}  